.login {
  background-color: #dfbf0b;
  font-family: 'Ubuntu';
  height: 100vh;
  width: 100vw;
  .login-wrapper {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    .inner-login-page {
      background-color: #fff;
      height: 30em;
      width: 65em;
      border-radius: 20px;
      .inner-wrapper {
        padding: 5em;
        display: flex;
        .left {
          width: 80%;
          .title-wrapper {
            h1 {
              font-size: 4.5em;
            }
          }
          .body-wrapper {
            margin-top: 25px;
            width: 25em;
            p {
              font-size: 1.5em;
              .typed-text {
                font-size: 1.8em;
              }
            }
          }
          .sign-in {
            margin-top: 50px;
            .login-button {
              cursor: pointer;
              color: white;
              padding: 12px;
              border-radius: 8px;
              display: inline-block;
              &.google {
                background-color: #f5e503;
                color: #000;
              }
            }
          }
        }
        .right {
          width: 50%;
          .image-wrapper {
            
            display: flex;
            justify-content: flex-end;
            .image {
              height: 20em;
            }
          }
        }
        
      }
    }
  }
}

